<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @volunteer.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @volunteer.age %>
</p>

<p>
  <strong>City:</strong>
  <%= @volunteer.city %>
</p>

<p>
  <strong>User:</strong>
  <%= @volunteer.user %>
</p>

<%= link_to 'Edit', edit_volunteer_path(@volunteer) %> |
<%= link_to 'Back', volunteers_path %>
